<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.doglove.member.domain.Member" alias="Member"/>
	</typeAliases>
<!-- 매퍼 만들고 등록해야지 -->
	<mappers>
		<mapper resource="mapper/member-mapper.xml"></mapper>
		<mapper resource="mapper/visit-mapper.xml"></mapper>
	</mappers>
</configuration>